# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Environment variables and credentials
.env
.env.*
!.env.example
*.json.key
service-account*.json
credentials*.json

# Tests and coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Ruff
.ruff_cache/

# Type checking
.mypy_cache/
.pyright/

# IDE
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Local data
data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

# Airflow
airflow.db
airflow.cfg
logs/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.temp
*.log